Sources/VKSharp/Generated/VKSharpFuncs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="methods">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="method">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="request">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="need_token" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="return">
                <xs:complexType>
                  <xs:attribute name="parse" type="xs:string" use="required" />
                  <xs:attribute name="multiple" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="params">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="param">
                      <xs:complexType>
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="default" type="xs:string" use="optional" />
                        <xs:attribute name="params" type="xs:string" use="optional" />
                        <xs:attribute name="custom" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>